.Reg {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  
.rone {
    margin-top: 20px;
  }
 
 .formone label {
    display: block;
    margin-bottom: 10px;
    margin-left: 25%;
    font-size: larger;
  }
  
.formone input[type="text"],

  input[type="file"]  {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 25%;
    
  


  }
.formone input[type="file"]{
    margin-bottom: 20px;
  }
  
 .formone button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 40%;

  }
  
 .formone button:hover {
    background-color: #45a049;
  }
.formone select{
   
        width: 100%;
        padding: 8px;
        margin-top: 10px;
        background-color: white;
        
      
  }
 
