.Reg {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  
.rone {
    margin-top: 20px;
  }
 
 .formone label {
    display: block;
    margin-bottom: 10px;
    margin-left: 25%;
    font-size: larger;
  }
  
.formone input[type="text"],

  input[type="file"]  {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 25%;
    
  


  }
.formone input[type="file"]{
    margin-bottom: 20px;
  }
  
 .formone button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 40%;

  }
  
 .formone button:hover {
    background-color: #45a049;
  }
.formone select{
   
        width: 100%;
        padding: 8px;
        margin-top: 10px;
        background-color: white;
        
      
  }
 
  .appointment {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .appointment h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .appointment label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .appointment select,
  .appointment input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .appointment button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .appointment button[type="submit"]:hover {
    background-color: #45a049;
  }
  
