<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalise.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>CMS</title>
</head>

<body>
    <header>
        <div class="container">
            <a href="#" class="logo">
                <img src="img/logo.jpeg" alt="Logo" />
            </a>
            <nav>

                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">pages</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">login</a></li>
                    <li><a href="#">signup</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="alborg">
        <div class="alborg-photo">
            <img src="img/alfa.jpeg" alt="">
        </div>
        <div class="alborg-info">
            <h2>مركزالفا </h2>
            <p class="alborg-specialty">لجميع انواع التحاليل الطبيه</p>
            <div class="comm-home">
                <p class="home-lab"><a href="home_lab.html">معامل تحاليل </a> </p>
                <p class="comment"><a href="">رؤيه التقييمات </a></p>
            </div>
        </div>
    </div>

    <div class="form">

        <div class="form-left">
            <form action="post">
                <label class="name-form" for="name lname">name :</label><br>
                <input type="text" class="fname" id="name" placeholder="first name" required>
                <input type="text" class="lname" id="lname" placeholder="last name" required> <br>
                <label for="ph">phone</label><br>
                <input type="tel" class="phone-number" id="ph" placeholder="01146650211" required> <br>
                <label for="em">email</label><br>
                <input type="text" class="email" id="em" placeholder="ayman2548@gmail.com" required> <br>
                <label for="exp">Explain disease</label><br>
                <textarea name="" id="exp" cols="20" rows="5"></textarea>
                <input type="submit" class="submit" value="send">
            </form>
        </div>
        <div class="form-right">
            <h2>Please enter your data </h2>
            <p> So that we can communicate with you and learn about your medical condition and what type of medical
                analysis you need</p>
        </div>
    </div>
    <footer>
        <div class="info-footer">
            <a href="#" class="contact">contact us</a>
            <a href="#" class="home">home </a>
        </div>
    </footer>
</body>

</html>