<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalise.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>CMS</title>
</head>

<body>
    <header>
        <div class="container">
            <a href="#" class="logo">
                <img src="img/logo.jpeg" alt="Logo" />
            </a>
            <nav>

                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">pages</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">login</a></li>
                    <li><a href="#">signup</a></li>
                </ul>

            </nav>
        </div>
    </header>
    <div class="landing">
        <div class="overlay"></div>
        <div class="text">
            <div class="content">
                <h2>
                    Hello,<br>
                    welcome to the laboratory.
                </h2>
                <p> You can book an appointment in the laboratory you want</p>
            </div>
        </div>



    </div>
    <div class="lab">
        <div class="container">

            <div id="lab-content">

                <div class="card">
                    <a href="alborj.html"> <img src="img/alborg.jpeg" alt="" /></a>

                    <a href="alborj.html">
                        <h2 class="name"> معمل البرج</h3>
                    </a>
                    <a href="alborj.html">
                        <p class="location">ديروط</p>
                    </a>


                </div>
                <div class="card">
                    <a href="almoktaber.html"> <img src="img/almoktaber.jpeg" alt="" /></a>

                    <a href="almoktaber.html">
                        <h2 class="name">معمل المختبر </h3>
                    </a>
                    <a href="almoktaber.html">
                        <p class="location"> شارع الجلاء</p>
                    </a>


                </div>
                <div class="card">
                    <a href="royal lab.html"> <img src="img/royal .jpeg" alt="" /></a>


                    <a href="royal lab.html">
                        <h2 class="name">مركز رويال لاب </h3>
                    </a>
                    <a href="royal lab.html">
                        <p class="location">اسيوط</p>
                    </a>


                </div>
                <div class="card">
                    <a href="alfath.html"> <img src="img/alfath.jpeg" alt="" /></a>

                    <a href="alfath.html">
                        <h2 class="name"> معمل الفتح</h3>
                    </a>
                    <a href="alfath.html">
                        <p class="location">اسيوط</p>
                    </a>


                </div>

                <div class="card">
                    <a href="alfa.html"> <img src="img/alfa.jpeg" alt="" /></a>

                    <a href="alfa.html">
                        <h2 class="name">معمل الفا </h3>
                    </a>
                    <a href="alfa.html">
                        <p class="location">ديروط</p>
                    </a>


                </div>
                <div class="card">
                    <a href="alshrook.html"> <img src="img/alshrook.jpeg" alt="" /></a>

                    <a href="alshrook.html">
                        <h2 class="name"> معمل الشروق </h3>
                    </a>
                    <a href="alshrook.html">
                        <p class="location">ديروط</p>
                    </a>


                </div>








            </div>
        </div>
    </div>
    <!-- onclick="element()" -->
    <a href="addlab.html" id="addlab" onclick="element()">add lab</a>
    <footer>
        <div class="info-footer">
            <a href="#" class="contact">contact us</a>
            <a href="#" class="home">home </a>
        </div>
    </footer>
    <script src="main.js"></script>
</body>

</html>